In [1]:
import pandas as pd
import sqlite3 as sq
import numpy as np

In [2]:
online_store=pd.read_csv("/Users/Yanaorfin_1/Documents/Academy/E_Commerce/Sample-Superstore2.csv", delimiter=";")
orders=pd.read_csv("/Users/Yanaorfin_1/Documents/Academy/E_Commerce/Sample-Superstore2/Order-Order.csv", delimiter=";")
customers=pd.read_csv("/Users/Yanaorfin_1/Documents/Academy/E_Commerce/Sample-Superstore2/Customer-Customer.csv",delimiter=";")
products=pd.read_csv("/Users/Yanaorfin_1/Documents/Academy/E_Commerce/Sample-Superstore2/Product-Table 1.csv",delimiter=";")
sales=pd.read_csv("/Users/Yanaorfin_1/Documents/Academy/E_Commerce/Sample-Superstore2/Sales-Sales.csv",delimiter=";")
shipment=pd.read_csv("/Users/Yanaorfin_1/Documents/Academy/E_Commerce/Sample-Superstore2/Shipment-Shipment.csv",delimiter=";")

FULL TABLE FOR EDA

In [3]:
#Additional DataFrame with correct product_id
products2=products.iloc[:,[0,3,4]]

In [4]:
online_store.drop(labels="Row ID",axis=1,inplace=True)

In [5]:
online_store.rename(columns={"Order ID":"Order_ID","Order Date":"Order_Date","Ship Date":"Ship_Date","Ship Mode":"Ship_Mode","Customer ID":"Customer_ID","Customer Name":"Customer_Name","Postal Code":"Postal_Code","Product ID":"Product_ID","Sub-Category":"Sub_Category","Product Name":"Product_Name"},inplace=True)

In [6]:
online_store=pd.merge(online_store,products2,how="left",on=["Product_ID","Product_Name"])

In [7]:
online_store.drop(labels="Product_ID",axis=1,inplace=True)
online_store.rename(columns={"Product_ID_NEW":"Product_ID"},inplace=True)

In [8]:
online_store=online_store.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,19,12,13,14,15,16,17,18]]

In [9]:
# date

REPLACING WRONG Product_ID

In [10]:
sales=pd.merge(sales,products,how="left",on=["Product_ID","Product_Name"])

In [11]:
sales.drop(labels=["Product_ID",'Sub_Category','Category','Product_Name'],axis=1,inplace=True)
products.drop(labels=["Product_ID"],axis=1,inplace=True)

In [12]:

sales.rename(columns={"Product_ID_NEW":"Product_ID"},inplace=True)
products.rename(columns={"Product_ID_NEW":"Product_ID"},inplace=True)

In [13]:
orders = orders.assign(id=range(1,1+len(orders)))

In [14]:
sales=sales.iloc[:,[0,1,6,2,3,4,5]]
products=products.iloc[:,[3,0,1,2]]

ADD COLUMNS

In [15]:
online_store.head(5)

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [16]:
online_store["Price"]=(online_store["Sales"]/(1-online_store["Discount"]))/online_store["Quantity"]

In [17]:
online_store["Margin"]=online_store["Profit"]/online_store["Sales"]

In [18]:
online_store.to_excel("/Users/Yanaorfin_1/Documents/Academy/E_Commerce/online_store.xlsx")

In [28]:
online_store.to_csv("/Users/Yanaorfin_1/Documents/Academy/E_Commerce/online_store.csv")

In [21]:
online_store.head(1)

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,...,Product_ID,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Price,Margin
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,130.98,0.16

In [50]:
order_list=online_store[["Order_ID","Sub_Category","Quantity"]]

df_chairs = df[df['category']=='Chairs'].set_index('order_id').drop(['category', 'sale_value'], axis=1).add_prefix('chair_')
df_tables = df[df['category']=='Tables'].set_index('order_id').drop(['category', 'sale_value'], axis=1).add_prefix('table_')

df = df_tables.join(df_chairs)

df_out = df.groupby(['table_product_id', 'chair_product_id']).agg(sum)
df_out['times_sold'] = df.groupby(['table_product_id', 'chair_product_id']).size()
print(df_out)

In [31]:
sub_categories_list=order_list["Sub_Category"].unique().tolist()

In [33]:
sub_categories_list

['Bookcases',
 'Chairs',
 'Labels',
 'Tables',
 'Storage',
 'Furnishings',
 'Art',
 'Phones',
 'Binders',
 'Appliances',
 'Paper',
 'Accessories',
 'Envelopes',
 'Fasteners',
 'Supplies',
 'Machines',
 'Copiers']

In [55]:
df_Bookcases = order_list[order_list['Sub_Category']=='Bookcases'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Bookcases')
df_Chairs = order_list[order_list['Sub_Category']=='Chairs'].set_index('Order_ID').drop(['Sub_Category',"Quantity"], axis=1).add_prefix('Chairs')
df_Labels = order_list[order_list['Sub_Category']=='Labels'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Labels')
df_Tables = order_list[order_list['Sub_Category']=='Tables'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Tables')
df_Storage = order_list[order_list['Sub_Category']=='Storage'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Storage')
df_Furnishings = order_list[order_list['Sub_Category']=='Furnishings'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Furnishings')
df_Art = order_list[order_list['Sub_Category']=='Art'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Art')
df_Phones = order_list[order_list['Sub_Category']=='Phones'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Phones')
df_Binders = order_list[order_list['Sub_Category']=='Binders'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Binders')
df_Appliances = order_list[order_list['Sub_Category']=='Appliances'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Appliances')
df_Paper = order_list[order_list['Sub_Category']=='Paper'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Paper')
df_Accessories = order_list[order_list['Sub_Category']=='Accessories'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Accessories')
df_Envelopes = order_list[order_list['Sub_Category']=='Envelopes'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Envelopes')
df_Fasteners = order_list[order_list['Sub_Category']=='Fasteners'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Fasteners')
df_Supplies = order_list[order_list['Sub_Category']=='Supplies'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Supplies')
df_Machines = order_list[order_list['Sub_Category']=='Machines'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Machines')
df_Copiers = order_list[order_list['Sub_Category']=='Copiers'].set_index('Order_ID').drop(['Sub_Category'], axis=1).add_prefix('Copiers')

In [57]:
df_orders=df_Bookcases.join(df_Chairs)

In [58]:
df_orders2=df_orders.join(df_Labels)

In [59]:
df_orders2.head(2)

                BookcasesQuantity  LabelsQuantity
Order_ID
CA-2014-101931                  6             NaN
CA-2014-105249                  4             4.0

In [65]:
df_orders2["Total"]=df_orders2["BookcasesQuantity"]+df_orders2["LabelsQuantity"]
df_orders2["Total"]=df_orders2["Total"].apply(lambda x:1 if x>0 else 0)

In [66]:
df_orders2.head(30)

                BookcasesQuantity  LabelsQuantity  Total
Order_ID
CA-2014-101931                  6             NaN      0
CA-2014-105249                  4             4.0      1
CA-2014-111192                  8             NaN      0
CA-2014-111871                 10             NaN      0
CA-2014-112158                  5             NaN      0
CA-2014-113271                  1             NaN      0
CA-2014-114181                  7             NaN      0
CA-2014-115161                  2             NaN      0
CA-2014-119144                  3             NaN      0
CA-2014-119151                  3             NaN      0
CA-2014-120411                  5             NaN      0
CA-2014-125997                  2             6.0      1
CA-2014-128209                 10             NaN      0
CA-2014-131247                  2             NaN      0
CA-2014-133592                  2             NaN      0
CA-2014-140487                  3             NaN      0
CA-2014-144666                  2             NaN      0
CA-2014-146591                  5             NaN      0
CA-2014-149524                  4             NaN      0
CA-2014-150245                  7             NaN      0
CA-2014-151946                  2             NaN      0
CA-2014-154599                  3             NaN      0
CA-2014-155796                  4             NaN      0
CA-2014-156349                  2             NaN      0
CA-2014-156790                  4             NaN      0
CA-2014-157147                  3             NaN      0
CA-2014-163468                  6             NaN      0
CA-2014-166744                  3             NaN      0
CA-2014-166863                  4             NaN      0
CA-2014-167997                  2             NaN      0

In [67]:
order_list["Order_ID"

         Order_ID Sub_Category  Quantity
0  CA-2016-152156    Bookcases         2
1  CA-2016-152156       Chairs         3

In [80]:
order_list_melt=pd.melt(order_list,id_vars=["Sub_Category"],value_vars=["Order_ID","Quantity"])

In [81]:
order_list_melt

      Sub_Category  variable           value
0        Bookcases  Order_ID  CA-2016-152156
1           Chairs  Order_ID  CA-2016-152156
2           Labels  Order_ID  CA-2016-138688
3           Tables  Order_ID  US-2015-108966
4          Storage  Order_ID  US-2015-108966
...            ...       ...             ...
19983  Furnishings  Quantity               3
19984  Furnishings  Quantity               2
19985       Phones  Quantity               2
19986        Paper  Quantity               4
19987   Appliances  Quantity               2

[19988 rows x 3 columns]

In [77]:
order_list.pivot(index="Order_ID",columns="Sub_Category")["Quantity"]

ValueError: Index contains duplicate entries, cannot reshape